.app {
  display: flex;
  justify-content: center;
  background-color: #fcf6f6ff;
  border-radius: 1em;
  align-items: center;
  height: 100vh;
}

.app_container_heading {
  border: 3px solid #edc2d8ff;
  line-height: 2.2em;
  color: #0c7cb8;
  border-radius: .5em;
  font-family: Operator Mono;
  font-weight: 900;
  margin-bottom: 4em;
  padding: .8em .4em;
  box-shadow: 4px 10px 20px 0px rgba(0,0,0,0.3);
  text-align: center;
}

.app_container_Content {
  text-align: center;
  border: 3px solid #edc2d8ff;
  border-radius: 1em;
  border-radius: 1em;
  padding: 1.5em 2.5em;
  box-shadow: 4px 10px 20px 0px rgba(0,0,0,0.3);
  font-family: Operator Mono;
  letter-spacing: 1px;
  color: rgb(94, 180, 226) ;
}

.app_container_image  {
  border-radius: 50%;
  object-fit: cover;
  padding: .4em;
  border: 4px solid #edc2d8ff;
  box-shadow: 4px 10px 20px 0px rgba(0,0,0,0.3);
  margin-bottom: 1em;
}


h2 {
  border: 1px solid #edc2d8ff;
  border-radius: 0.2em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
