.app {
  display: flex;
  justify-content: center;
  background-color: #fcf6f6ff;
  border-radius: 1em;
  align-items: center;
  height: 100vh;
}

.app_container_heading {
  border: 1px solid #6767ce;
  line-height: 2.2em;
  color: #0f4394;
  border-radius: .5em;
  font-family: Operator Mono;
  font-weight: 900;
  margin-bottom: 2em;
  padding: .8em;
  box-shadow: 4px 10px 20px 0px rgba(0,0,0,0.3);
}

.app_container_Content {
  text-align: center;
  border: 3px solid #0d5896;
  border-radius: 1em;
  background-color: #f0f8ff;
  border-radius: 1em;
  padding: 1em 2em;
}

.app_container_image  {
  border-radius: 50%;
  object-fit: cover;
  padding: .3em;
  border: 4px solid #053252;
}
